<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{{!-- this is an if in handlebars --}}
	{{#if username}}	
		<h1>{{greeting}} {{username}}!! 👋</h1>
	{{else}}
		<h1>Welcome unknown user</h1>
	{{/if}}

	{{!-- this is resolved as HTML --}}
	{{{someHTML}}}

	<ul>
		{{!-- here we iterate over the todoList array --}}
		{{#each todoList}}
			<li>{{this}}</li>
		{{/each}}
	</ul>

	{{!-- this displays the fields of the movie --}}
	<h2>
		Title: {{movie.title}}
	</h2>
	<h2>
		Director: {{movie.director}}
	</h2>
	{{!-- if you access properties of an object you can set a --}}
	{{!-- context instead of <nameOfTheObject.key> --}}
	{{#with movie}}
		<h2>
			Title: {{title}}
		</h2>
		<h2>
			Director: {{director}}
		</h2>
	{{/with}}

</body>
</html>